#date-container {
    height: 400px;
    min-width: 310px;
}

#thread-container {
    height: 600px;
    width: 100%;
}

#dashboard-container {
    height: 600px;
    width: 100%
}

.highcharts-container {
    width:100% !important;
    height:100% !important;
}

.fa-fw {
    margin-right: 10px;
}

.container-fluid {
    max-width: 95%;
}

.h3 {
    margin-bottom: 20px;
}